<header id="app-header">
  <nav>
    <a href="http://docker">Ember</a>
    <aside>
      <a href="http://docker:3000/admin/" target="_blank">
        {{ui-icon icon="gear-b"}}
        Admin
      </a>
    </aside>
  </nav>
</header>

{{outlet}}
