<article class="task-list-item">
  <div class="task-list-item-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="task-list-item-content">
    <h1>{{content.title}}</h1>
    <p>{{content.description}}</p>
    <p class="task-list-item-detail">Created at: {{content.createdAt}}</p>
  </div>
</article>
